*{
    margin: 0px;
    padding: 0px;
}

.h3-loja {
    font-size: 2.5vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 4rem;
}

.contatoss {
    max-width: 1000px;
    margin: 0 auto;
}

.contatos-back {
    padding-top: 4.5rem;
    background: linear-gradient(#111111 50%, #ebe7e7 50%);
}

.loja,
.enviar-mensagem {
    padding: 4rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}


.loja {
    border-radius: 5px 0 0 5px;
    background-color: #000;
}

.dividir-formulário {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.enviar-mensagem {
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}

.form div:nth-child(3),
.form div:nth-child(4){
    grid-column: span 2;
}

.lista-contato li{
    color: #CCCCCC;
    font-size: 2.3vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}

.lista-contato li a {
    padding-bottom: 3.5rem;
}

.link-dress {
    line-height: 1.5;
    color: #CCCCCC;
}

.redes-dress {
    padding-left: 1.5rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.form label {
    display: block;
    font: 600 1rem/1.5 Arial, Helvetica, sans-serif;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea{
    background: #F7F7F7;
    padding: 0.5rem;
    font: 400 1rem/1.5 roboto, sans-serif;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 0.5rem;
    font: 400 1rem/1.5 roboto, sans-serif;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}

.escolha-maps {
    background-color: #EDEDED;
}

.dentro-escolha-maps {
    max-width: 1100px;
    margin: 0 auto;
}

.lista-maps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
    gap: 2rem;
}

.map {
    max-width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}

.map-box {
    background-color:#fff;
    border-radius: 0.4rem;
    padding-bottom: 2rem;
}


.adress-map {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
}

.link-adress {
    display: flex;
    align-self: center;
    color: #949494;
    border-left: 1px solid #c0c0c0;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.teste-detalhe {
    padding: 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}

.detalhe-maps {
    margin-left: 0.5rem;
    display: block;
    width: 0.8rem;
    height: 0.5rem;
    background-color: #F2A50C;
}

.space-h3 {
    color: #000;
}

.tempo {
    padding: 2rem 0.3rem 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.hora {
    align-items: center;
    color: #000
}

.hora p {
    font-size: 2.5vh;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    
}

@media (max-width: 1000px){
    .adress-map {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) 
{
    .loja,
    .enviar-mensagem {
        margin-bottom: 0;
}
    .loja {
        border-radius: 0;
        background-color: #000;
    }

    .enviar-mensagem {
        border-radius: initial;
    }
    .dividir-formulário {
        grid-template-columns: 1fr;
    }

    .lista-contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .lista-contato li a:nth-child(2) {
        padding-bottom: 0;
    }    
    
    .lista-maps {
        display: flex;    
        flex-wrap: wrap;
}
}



@media (max-width: 550px) 
{
    .lista-contato {
        grid-template-columns: 1fr;
        gap: 1rem;
    }    

    .lista-contato li a:nth-child(2) {
        padding-bottom: 0;
    }    
}    
